.w-100{
  width: 100% !important;
}

@media(min-width:600px){
.top-navbar{
   box-shadow: 0 0 50px gray !important
}
}
#top_actions_section{
  display: flex !important;
  align-items: center;
}

.users_list_item.active .user_list_arrow_icon{ 
    transform: rotate(180deg);
    }
.users_list_item.active , .users_list_item.active .collapsible-header { 
    background-color:rgb(230, 230, 230);
}